:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  margin: 20px;
  width: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.gallery__item {
  display: block;
  overflow: hidden;

  &:hover {
    cursor: zoom-in;
  }
}

.gallery__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.photo-card {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  scale: 1;

  @include card-set__item(1);

  @media screen and (min-width: 768px) {
    @include card-set__item(2);
  }

  @media screen and (min-width: 1200px) {
    @include card-set__item(4);
  }

  transition: scale var(--animation-duration) var(--timing-function);

  &:hover {
    scale: 1.03;
  }
}

.info {
  display: flex;
  justify-content: space-around;

  padding: 20px 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

// ====================== LOAD MORE BUTTON ================

.load-more {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 12px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-color: tomato;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: box-shadow var(--animation-duration) var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 8px 12px 0px rgba(240, 57, 57, 0.425),
      0px 8px 8px 0px rgba(148, 0, 0, 0.358),
      0px 12px 8px -8px rgba(145, 40, 40, 0.29);
  }
}

.spinner-icon {
  fill: #ffffff;
}

.animation-spin {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
