.logo-wrapper {
  margin-left: 50px;
  display: flex;
  align-items: baseline;
}

.logo {
  width: 40px;
  height: 100%;
}

.logo-text {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;

  &::after {
    position: absolute;
    top: 41px;
    left: 19px;
    content: 'owered by Pixabay.com';
    font-size: 8px;
  }
}

.logo-dot {
  color: rgb(104, 0, 0);
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('../images/background.jpg');
  background-size: auto;
}
