.search-bar {
  display: flex;
  align-items: center;

  height: 70px;

  background: linear-gradient(rgb(255, 114, 38) 0%, rgb(209, 72, 26) 100%);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 5px 5px 5px rgba(138, 138, 138, 0.6);
}

.search-form {
  display: flex;
  height: 30px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    margin-left: 15vw;
  }
}

.form-wrapper {
  position: relative;
}

.input-bar {
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 5px;
  @media screen and (min-width: 600px) {
    width: 40vw;
  }
}

.search-icon {
  fill: gray;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
  position: absolute;
  top: 8px;
  right: 2px;
  background-color: #ffffff;

  cursor: pointer;

  border-style: none;
  border-radius: 4px;
  padding: 0px 5px;

  &:hover .search-icon,
  &:focus .search-icon {
    fill: tomato;
  }
}

.logo-text {
  display: none;

  @media screen and (min-width: 468px) {
    display: block;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}
