<header>
  <div class="search-bar">
    <div class="logo-wrapper">
      <img class="logo" src="./images/pixel.png" alt="pixel logo" />
      <p class="logo-text"><span class="logo-dot">.</span>picsEl</p>
    </div>

    <form class="search-form" id="search-form">
      <div class="form-wrapper">
        <input
          class="input-bar"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Пошук зображень..."
        />
        <button class="submit-btn" type="submit">
          <svg class="search-icon" width="18" height="16">
            <use href="./svg/svg-sprite.svg#search"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>
</header>
